body {
  background-color: lightgrey;
}
/*navigation bar*/
nav {
  border: solid 1px red;
  height: 50em;
  width: 4em;
  float: left;
}

.nav-bar {
  height: 20em;
  width: 4em;
  margin: 10em 0;
}

.nav-icons{
  height: 2.5em;
  width: 2.5em;
  margin: 1em .75em;
}

h1 {
  margin: 1em;
  border: solid 1px black;
  width: 100%;
  margin-left: 2em;
  padding: 1em;
}

h2{
  display: inline;
}

#welcome {
  display: inline;
  margin: .75em 1em;
  padding: .5em 0 .5em 1em;
}

#welcome-message {
  border: solid orange 1px;
  display: block;
  height: 3em;
  margin-left: 0;
}

.info-cells {
  display: inline;
  height: 5em;
  width: 11em;
  background-color: grey;
}

.account-cells {
  display: block;
  height: 4em;
  margin: .5em 0;
}

.acct-img {
  height: 2em;
  width: 2em;
  padding: 1em 1em;
}

section {
  border: solid 1px blue;
  display: inline;
  float: left;
  width: 40em;
  height: 35em;
  margin: 1em 1em 1em 1em;
}

#elephant-logo {
  height: 4em;
  width: 4em;
}

button {
  float: right;
  display: inline;
}
