body {
  background-color: #F5F5F5;
  color: #363636;
  font-family: 'Biryani', sans-serif;
}
/*navigation bar*/
nav {
  background: #fff;
  height: 28em;
  width: 4em;
  float: left;
}

.nav-bar {
  background: #fff;
  height: 27em;
  width: 4em;
  margin: 10.5em 0;
}

.nav-icons{
  height: 2.5em;
  width: 2.5em;
  margin: .5em .20em;
  padding: 1em .4em;
}

.nav-icons:hover {
  border-left: solid 3px #1CA3BA;
  padding: .75em .4em;
}

h1 {
  border-radius: 1em;
  display: block;
  width: 100%;
  margin-left: 0 0  1em 2em;
  padding: 0 2.75em;
}

h2 {
  display: inline-block;
  margin: .75em 1em;
  width: 15em;
}

h3 {
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  background-color: white;
  display: block;
  height: 5em;
  margin: 0;
  width: 34em;
}

h4, h6 {
  margin: 1em 1em .5em 1em;
  text-transform: uppercase;
}

section {
  display: inline-block;
  float: left;
  width: 40em;
  height: 35em;
}

.close-welcome {
  display: none;
}

#welcome-message {
  float: left;
  height: 4em;
  position: relative;
}

.info-cells {
  margin: 3em 1em 1em;
  display: inline-block;
  height: 5em;
  width: 11em;
  background-color: white;
}

div {
  bottom: 1.5em;
  margin: 1em 1em .5em 1em;
  display: inline-block;
  position: relative;
  width: 9em;
}

span {
  border-radius: .25em;
  box-shadow: 1px 1px rgba(0,0,0,0.05);
}

.acct-cell-left {
  bottom: 1.5em;
  margin: 1em 5em 1em 4em;
}

.acct-cell-right {
  bottom: 1.5em;
  margin: 1em 1em 1em 5em;
}

.account-cells {
  display: block;
  height: 4em;
  margin: .5em 0;
  background-color: white;
}

.acct-img {
  height: 2em;
  width: 2em;
  padding: 1em 1em;
}

#elephant-logo {
  height: 4em;
  width: 4em;
}

.blue-button {
  float: right;
  cursor: pointer;
  display: inline;
  background-color: #1CA3BA;
  color: white;
  height: 2em;
  width: 12em;
  border-radius: 10em;
  font-size: 1em;
  padding: 5px 0;
  margin: 2em 1em 0 0;
}

#close-tab {
  border-radius: 0;
  bottom: 4.5em;
  height: 1em;
  left: 56.5em;
  position: absolute;
  width: 1em;
}

.columns {
  margin: 1em 0 1em 1.5em;
}

table {
  background-color: #fff;
  height: 27em;
  width: 38em;
}

td {
  border-bottom: solid 1px #F5F5F5;
  margin-left: 2em;
  padding:0 1em;
}

.payee {
  padding: 0 4em 0 0;
}
